In [6]:
import pandas as pd
import numpy as np
import random
import torch

from sklearn.preprocessing import LabelEncoder

In [4]:
DATA_DIR = 'data/book/'
DATA_PATH = DATA_DIR + 'dummy.csv'
data = pd.read_csv(DATA_PATH,index_col='id')

In [10]:
authors = data['Author'].unique()
# authors = np.array(authors)
authorEncoder = LabelEncoder()
encAuth = authorEncoder.fit_transform(authors)

In [11]:
genres = data['Genre'].unique()
# genres = np.array(genres)
genreEncoder = LabelEncoder()
encGenre = genreEncoder.fit_transform(genres)

In [12]:
data['Author'] = authorEncoder.transform(data['Author'])
data['Genre'] = genreEncoder.transform(data['Genre'])

In [13]:
data.head()

                 ISBN                              Name  Author  Genre  Rating
id
1   978-0-09-106465-5   Notice born film activity loss.       0     12    3.10
2   978-0-9902181-7-3  Must third of local them public.      11      7    0.62
3   978-0-593-44538-9      Mind physical before detail.       8      0    3.71
4   978-0-566-51059-5      On common occur color study.       9     12    2.12
5   978-1-78090-846-5                  Mr trial budget.       2      3    4.42

In [15]:
data = data.drop(['ISBN','Name'],axis=1)

In [16]:
data.head()

    Author  Genre  Rating
id
1        0     12    3.10
2       11      7    0.62
3        8      0    3.71
4        9     12    2.12
5        2      3    4.42

In [ ]:
def gen_data(n_samples=10) :