In [7]:
import pandas as pd
import numpy as np
import random
import torch
import faker

from sklearn.preprocessing import LabelEncoder

In [6]:
fake = faker.Faker()

In [5]:
fields = [
    'id' ,
    'ISBN',
    'Name', 
    'Author',
    'Genre',
    'Rating',
]

In [13]:
authors = [
    'Stephen King', 'Leo Tolstoy', 'George Orwell', 
    'Ray Bradbury', 'H. G. Wells', 'Charles Dickens', 
    'J. M. Barrie', 'Eoin Colfer', 'Shelly McCormick', 
    'James Joyce', 'William Shakespeare', 'John Doe', 
    'Mark Twain', 'J K Rowling', 'Kurt Vonnegut', 
    'J. R. R. Tolkien', 'William Faulkner'
]
authors = np.array(authors)
authorEncoder = LabelEncoder()
encAuth = authorEncoder.fit_transform(authors)

In [14]:
genres = [
    'Fantasy', 'Mystery', 'Action', 'Sci-Fi', 'Thriller', 
    'Science Fiction', 'Comedy', 'Horror', 'Romance', 
    'Adventure', 'Fiction', 'Drama', 'Western'
]
genres = np.array(genres)
genreEncoder = LabelEncoder()
encGenre = genreEncoder.fit_transform(genres)

In [17]:
N = 500
data = []
for i in range(1,N+1) :
    row = [i,fake.isbn13(),fake.text(40),random.choice(authors),random.choice(genres),round(random.random()*5,2)]
    data.append(row)
    
data = np.array(data)

In [37]:
dat = pd.DataFrame(data,columns=fields)
dat['id'] = np.array(dat['id'],dtype=int)
dat['Rating'] = np.array(dat['Rating'],dtype=float)
dat.head()

,id,ISBN,Name,Author,Genre,Rating
0,1,978-0-393-91237-1,Dark really however value.,John Doe,Thriller,0.96
1,2,978-0-88472-420-9,Region drive Democrat social.,Charles Dickens,Adventure,2.85
2,3,978-0-907470-79-3,Attorney kind various sister or wait.,Eoin Colfer,Western,2.62
3,4,978-1-4358-6994-3,Church throw ever.,George Orwell,Fantasy,1.77
4,5,978-1-4264-3509-6,Large scientist late contain.,William Faulkner,Thriller,1.60

In [38]:
dat['Author'] = authorEncoder.transform(dat['Author'])
dat['Genre'] = genreEncoder.transform(dat['Genre'])
dat.head()

,id,ISBN,Name,Author,Genre,Rating
0,1,978-0-393-91237-1,Dark really however value.,8,11,0.96
1,2,978-0-88472-420-9,Region drive Democrat social.,0,1,2.85
2,3,978-0-907470-79-3,Attorney kind various sister or wait.,1,12,2.62
3,4,978-1-4358-6994-3,Church throw ever.,2,4,1.77
4,5,978-1-4264-3509-6,Large scientist late contain.,15,11,1.60

In [39]:
dat = dat.drop(['ISBN','Name'],axis=1)
dat.head()

   id  Author  Genre  Rating
0   1       8     11    0.96
1   2       0      1    2.85
2   3       1     12    2.62
3   4       2      4    1.77
4   5      15     11    1.60

In [44]:
dataArray = np.array(dat)

In [45]:
dataArray.shape

(500, 4)

In [46]:
SAMPLE_LENGTH = 10

def data_gen() :
    pass