In [2]:
import pandas as pd
import numpy as np
import random
import torch
import faker

from sklearn.preprocessing import LabelEncoder

In [3]:
fake = faker.Faker()

In [4]:
fields = [
    'id' ,
    'ISBN',
    'Name', 
    'Author',
    'Genre',
    'Rating',
]

In [5]:
authors = [
    'Stephen King', 'Leo Tolstoy', 'George Orwell', 
    'Ray Bradbury', 'H. G. Wells', 'Charles Dickens', 
    'J. M. Barrie', 'Eoin Colfer', 'Shelly McCormick', 
    'James Joyce', 'William Shakespeare', 'John Doe', 
    'Mark Twain', 'J K Rowling', 'Kurt Vonnegut', 
    'J. R. R. Tolkien', 'William Faulkner'
]
authors = np.array(authors)
authorEncoder = LabelEncoder()
encAuth = authorEncoder.fit_transform(authors)

In [6]:
genres = [
    'Fantasy', 'Mystery', 'Action', 'Sci-Fi', 'Thriller', 
    'Science Fiction', 'Comedy', 'Horror', 'Romance', 
    'Adventure', 'Fiction', 'Drama', 'Western'
]
genres = np.array(genres)
genreEncoder = LabelEncoder()
encGenre = genreEncoder.fit_transform(genres)

In [14]:
N = 1000
data = []
for i in range(1,N+1) :
    row = [i,fake.isbn13(),fake.text(40),random.choice(authors),random.choice(genres),round(random.random()*5,2)]
    data.append(row)
    
data = np.array(data)

In [15]:
dat = pd.DataFrame(data,columns=fields)
dat['id'] = np.array(dat['id'],dtype=int)
dat['Rating'] = np.array(dat['Rating'],dtype=float)
dat.head()

,id,ISBN,Name,Author,Genre,Rating
0,1,978-0-09-106465-5,Notice born film activity loss.,Charles Dickens,Western,3.10
1,2,978-0-9902181-7-3,Must third of local them public.,Mark Twain,Mystery,0.62
2,3,978-0-593-44538-9,Mind physical before detail.,John Doe,Action,3.71
3,4,978-0-566-51059-5,On common occur color study.,Kurt Vonnegut,Western,2.12
4,5,978-1-78090-846-5,Mr trial budget.,George Orwell,Drama,4.42

In [17]:
DATA_DIR = "data/book/"
dat.to_csv(DATA_DIR+'dummy.csv',index=False)

In [9]:
dat['Author'] = authorEncoder.transform(dat['Author'])
dat['Genre'] = genreEncoder.transform(dat['Genre'])
dat.head()

,id,ISBN,Name,Author,Genre,Rating
0,1,978-0-606-43901-5,White leave trial.,16,6,2.91
1,2,978-0-448-24077-0,Attorney fund quickly special.,2,5,1.48
2,3,978-0-16-548773-1,Event by child view eat identify into.,1,0,2.36
3,4,978-1-84954-528-0,Hundred our true various another.,0,2,3.49
4,5,978-0-09-068703-9,Rate well order action media.,7,7,2.29

In [10]:
dat = dat.drop(['ISBN','Name'],axis=1)
dat.head()

   id  Author  Genre  Rating
0   1      16      6    2.91
1   2       2      5    1.48
2   3       1      0    2.36
3   4       0      2    3.49
4   5       7      7    2.29

In [11]:
dataArray = np.array(dat)

In [12]:
dataArray.shape

(1000, 4)

In [13]:
SAMPLE_LENGTH = 10

def data_gen() :
    pass

In [20]:
data_ = pd.read_csv(DATA_DIR+'dummy.csv',index_col='id')

In [23]:
data_

,ISBN,Name,Author,Genre,Rating
id,,,,,
1,978-0-09-106465-5,Notice born film activity loss.,Charles Dickens,Western,3.10
2,978-0-9902181-7-3,Must third of local them public.,Mark Twain,Mystery,0.62
3,978-0-593-44538-9,Mind physical before detail.,John Doe,Action,3.71
4,978-0-566-51059-5,On common occur color study.,Kurt Vonnegut,Western,2.12
5,978-1-78090-846-5,Mr trial budget.,George Orwell,Drama,4.42
...,...,...,...,...,...
996,978-1-150-33828-1,Keep goal deal popular.,Leo Tolstoy,Drama,2.36
997,978-1-4461-0699-0,Tax write travel.,H. G. Wells,Western,4.67
998,978-0-11-923624-8,National development general nearly.,Shelly McCormick,Science Fiction,4.45
999,978-0-7174-2049-0,Stage himself service sell where.,Leo Tolstoy,Romance,2.34
1000,978-1-82898-600-4,Blue policy range science news.,Shelly McCormick,Action,4.40